@using Microsoft.AspNetCore.Components.Web
@page "/projects"

<PageTitle>Projects</PageTitle>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<style>
    body {
        /*font-family: 'Poppins', sans-serif;*/
        background-color: #f1f1f1;
    }
</style>

<h1 class="titleText">SCHOOL PROJECTS</h1>
<hr>
&emsp;

<div class="projects-container @(IsAnyProjectActive ? "active" : "")">
    @foreach (var project in MyProjects)
    {
        <div class="project-box @(project.ShowDetails ? "active" : "")" @onclick="() => ToggleDetails(project)">
            <div class="project-header">
                <h2>@((MarkupString)(project.Title ?? string.Empty))</h2>
            </div>
            @if (project.ShowDetails)
            {
                <p class="description"><hr>@project.Description</p>
                <p class="linkGithub">For more information, visit: <a href="@project.GithubLink" target="_blank">GitHub</a></p>
            }
        </div>
    }
</div>

@code {
    private List<Project> MyProjects = new()
{
        new Project
        {
            Title = "Master Thesis <br> <span style='font-size: smaller;'>(Futuristic Aircraft Cockpit Design)</span>",
            Description = "This work focuses on the historical development and current trends in the field of flight data visualization in the cockpit. Based on this analysis, a modern flight data visualization is proposed, which is subsequently implemented in a virtual reality-supported aviation simulation environment. The aim of the work was to create flight data visualization for Helmet-Mounted Display for aircraft capable of vertical takeoff and landing. The primary goal is to enhance the efficiency and safety of aviation through innovative visual means.",
            GithubLink = "https://github.com/Svormen/DP"
        },
        new Project
        {
            Title = "Bachelor Thesis <br> <span style='font-size: smaller;'>(Graphical Interface for Head-Up Display)</span>",
            Description = "This work deals with trends in the field of flight data visualization. The aim of the work is to design own visualization of flight data for a head-up display and then implement the proposal in a flight simulator environment, which contains technologies that support virtual reality. The specific intention was creating a head-up display for the electric plane with vertical take-off and landing (eVTOL).",
            GithubLink = "https://github.com/Svormen/BP-VUT_FIT"
            
        },
        new Project
        {
            Title = "First project",
            Description = "Description of First project",
            GithubLink = "https://github.com/Svormen"
        },
        new Project
        {
            Title = "Second project",
            Description = "Description of Second project",
            GithubLink = "https://github.com/Svormen"
        },
        new Project
        {
            Title = "Third project",
            Description = "Description of Third project",
            GithubLink = "https://github.com/Svormen"
        }
    };

    private bool IsAnyProjectActive => MyProjects.Any(p => p.ShowDetails);

    private void ToggleDetails(Project project)
    {
        if (project.ShowDetails)
        {
            // Deactivate all projects
            foreach (var proj in MyProjects)
            {
                proj.ShowDetails = false;
            }
        }
        else
        {
            // Deactivate all projects and activate clicked one
            foreach (var proj in MyProjects)
            {
                proj.ShowDetails = false;
            }
            project.ShowDetails = true;
        }
    }

    private class Project
    {
        public string? Title { get; set; }
        public string? Description { get; set; }
        public string? GithubLink { get; set; }
        public bool ShowDetails { get; set; } = false;
    }
}
